<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body>
    <main class="w-full h-screen bg-zinc-900 text-white p-10">
      <h1 class="text-3xl mb-4">Create User</h1>
      <form action="/register" method="post">
        <input
          class="bg-transparent px-3 py-2 border-2 border-zinc-800 rounded-md outline-none"
          type="text"
          name="name"
          placeholder="name"
        />
        <input
          class="bg-transparent px-3 py-2 border-2 border-zinc-800 rounded-md outline-none"
          type="text"
          name="username"
          placeholder="username"
        />
        <input
          class="bg-transparent px-3 py-2 border-2 border-zinc-800 rounded-md outline-none"
          type="email"
          name="email"
          placeholder="email"
        />
        <input
          class="bg-transparent px-3 py-2 border-2 border-zinc-800 rounded-md outline-none"
          type="password"
          name="password"
          placeholder="password"
        />
        <input
          class="bg-transparent px-3 py-2 border-2 border-zinc-800 rounded-md outline-none"
          type="number"
          name="age"
          placeholder="age"
        />
        <input
          class="bg-blue-500 px-3 py-2 border-2 border-zinc-800 rounded-md outline-none"
          type="submit"
          value="Create User"
        />
      </form>
    </main>
  </body>
</html>
